<h2>{{pack.description}} v{{pack.version}}</h2>
<a id="page-heading" class="anchor" tabindex="-1"></a>

<p>{{pack.readme}}</p>

<p>It also supports different column counts for each of the 4 breakpoint tiers.
Which are extra-small (1), small (8), medium (12), and large (16).</p>

<p>Filesize is <strong>{{minSize}}</strong> minified, and <strong>{{zipSize}}</strong> gzippped.
  <a href="{{pack.homepage}}">Github Repo: {{pack.name}}</a>.</p>

<h2>Home</h2>
{{> secondary-nav items=navTree }}
