<div class="prettyprint">
  {{#if iframeSrc}}
  <a class="specimen__button specimen__button--isolate" href="{{ iframeSrc }}" target="_blank" tooltip="View in isolation"></a>
  {{/if}}
  <a class="specimen__button specimen__button--codepen" href="#" onclick="document.getElementById('{{ uniqueId }}').submit(); return false;" tooltip="View in codepen.io"></a>
  <pre><h4>{{ title }}</h4><code class='language-{{ language }}'>{{{ body }}}</code></pre>
</div>
<form id="{{ uniqueId }}" action="http://codepen.io/pen/define" method="POST" target="_blank">
  <input type="hidden" name="data" value="{{{ codepen }}}" />
</form>
